/* ----------------------------
    Common styles and Utilities
------------------------------- */
* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

:root {
    --primary-font: 'Work Sans', sans-serif;
    --primary-color: #FF900E;
    --black-color: #131313;
    --lightgrey-color: #727272;
    --grey-color: #424242;
    --white-color: #FFFFFF;
    --offwhite-color: #FFF4E7;
}

body {
    font-family: var(--primary-font);
}

/* ----------------------------
        Common Color styles
------------------------------- */
.btn-explore,
.feature-card-btn {
    background-color: var(--primary-color);
}

.logo,
.banner-title,
.bold,
.bold-color,
.feature-card h3,
.fact-title h3,
.works-title h3,
.sponsor-title h3 {
    color: var(--black-color);
}

.banner-details,
.normal,
.features-details,
.feature-card p,
.fact-title p,
.works-title p,
.sponsor-title p,
.fact-cards p {
    color: var(--lightgrey-color);
}

.nav-menu,
.fact-cards h4,
.footer-container h4 {
    color: var(--grey-color);
}

.btn-explore,
.feature-card-btn,
.card-bold,
.card-normal {
    color: var(--white-color);
}

/* ----------------------------
        Header Styles
------------------------------- */
header {
    width: 100%;
    height: 130vh;
    background-color: rgba(255, 144, 14, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    align-items: center;
    padding-top: 30px;
}

.logo {
    font-weight: 700;
    font-size: 35px;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    gap: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
}

.banner-title {
    font-weight: 700;
    font-size: 30px;
}

.banner-details {
    font-weight: 400;
    font-size: 16px;
}

.btn-explore {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
}

.banner-img img {
    width: 750px;
    height: 355px;
    border-radius: 5px;
}

/* ----------------------------
        Feature Styles
------------------------------- */

.feature-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 80px;
    gap: 70px;
}

.img-feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.img-feature img {
    width: 242px;
    height: 242px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: start;
}

.features-title {
    font-weight: 500;
    font-size: 25px;
}

.normal {
    font-weight: 500;
}

.bold,
.bold-color {
    font-weight: 700;
}

.bold-color {
    color: var(--primary-color);
}

.features-details {
    font-weight: 400;
    font-size: 14px;
}

.features-btn {
    padding-right: 58px;
}

/* ----------------------------
        Feature Card Styles
------------------------------- */
.feature-card-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 100px;
}

.feature-card,
.feature-card-img {
    width: 50%;
}

.feature-card-img img {
    width: 508px;
    height: 782px;
}

.feature-card-img {
    position: relative;
}

.feature-card-btn {
    position: absolute;
    width: 170px;
    height: 100px;
    border: none;
    border-radius: 8px;
    bottom: -20px;
    left: -40px;
}

.feature-card,
.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature-card h3 {
    padding-right: 260px;
    font-weight: 700;
    font-size: 25px;
}

.feature-card p {
    font-weight: 400;
    font-size: 14px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    background: var(--white-color);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 25px;
}

.cards h4 {
    margin-bottom: 10px;
}

.card-bold {
    font-weight: 700;
    font-size: 25px;
}

.card-normal {
    font-weight: 500;
    font-size: 15px;
}

/* ----------------------------
        Facts Styles
------------------------------- */

.facts-container,
.works-container,
.sponsor-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 100px;
}

.fact-title,
.works-title {
    text-align: left;
    margin-left: 0;
}

.fact-title h3,
.works-title h3,
.sponsor-title h3 {
    font-weight: 700;
    font-size: 25px;
}

.fact-title p,
.works-title p,
.sponsor-title p {
    width: 542px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
}

.fact-cards,
.sponsor-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
}

.fact-cards h4 {
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-cards p {
    font-weight: 600;
    font-size: 14px;
}

.fact-card-1,
.fact-card-2,
.fact-card-3,
.fact-card-4 {
    width: 191.83px;
    height: 191.83px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    text-align: center;
    padding: 35px;
}

/* ----------------------------
        Works Styles
------------------------------- */

.works-gallery img {
    width: 320px;
    height: 218px;
    border: none;
    border-radius: 8px;
}

.works-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 30px;
}

/* ----------------------------
        Sponsors Styles
------------------------------- */

.sponsor-title {
    text-align: center;
}

.sponsor-logos img {
    filter: grayscale(1);
}

/* ----------------------------
        Footer Styles
------------------------------- */

.footer-container {
    width: 80%;
    border: none;
    background: var(--offwhite-color);
    border-radius: 8px;
}

.footer-container h4 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 20px 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* ----------------------------
    Responsive Mobile Devices
------------------------------- */

@media only screen and (max-width: 576px) {

    .e,
    .f,
    .g,
    .h {
        display: none;
    }

    * {
        margin: 0;
    }
    header {
        height: auto;
    }
    .nav-container,
    .nav-menu {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        margin-left: 20px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .banner-container {
        width: 100%;
    }

    .banner {
        width: 80%;
    }

    .banner-title {
        font-size: 20px;
    }

    .banner-details {
        font-size: 9px;
    }

    .btn-explore {
        width: 140px;
        height: 60px;
    }
    .banner-img, .features-btn {
        margin-bottom: 5px;
    }
    .banner-img img {
        width: 314px;
        height: 170px;
    }

    .feature-container {
        width: 100%;
        flex-direction: column;
    }
    .img-feature {
        grid-template-columns: repeat(1, 1fr);
    }
    .features {
        width: 60%;
    }
}